<h1>Projects</h1>

<hr>

<ul>
  <% @projects.each do |i| %>
    <% if i.description != nil %>
      <li><%= link_to (i.name + ": "+ i.description), {action: 'show',id: i.id} %></li>
    <% else %>
      <li><%= link_to i.name, {action: 'show',id: i.id} %></li>
    <%end%>
  <%end%>
</ul>

</hr>
<hr>

<%= link_to 'Home', '/' %>
<%= link_to 'Add', '/new' %>
<%= link_to 'Delete all', '/delete_all', method: :get , data: { confirm: "Are you sure you want to delete all projects?"}  %>
