<h1><%= @project.name %></h1>

<hr>

<p>
  <%= @project.description %>
</p>

</hr>
<%= link_to 'Index', '/project' %>
<%= link_to "Delete", {action: 'delete',id: @project.id} %>
<%= link_to 'Entry', "/project/#{@project.id}/time_entries" %>
