<h1><%= @project.name %></h1>

<ul>
  <% @entries.each do |entry| %>
  <li>
  <%= entry.hours %> h
  <%= entry.minutes %> m-
  <%= entry.updated_at %>

  <br>

  <%= link_to 'Edit', {action: 'edit', project_id: @project.id, id: entry.id} %>
  <%= link_to 'Delete', {action: 'delete', project_id: @project.id, id: entry.id}, method: :get , data: { confirm: "Are you sure you want to delete #{@project.name}"} %>
  </li>
  <%end%>
</ul>
<%= link_to 'Index', "/project" %>
<%= link_to 'Add', "/project/#{@project.id}/time_entries/new" %>
